TripEasy/retrieveconsolidateroutesandschedule-papi/src/main/mule/global/retrieveconsolidateroutesandschedule-xapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="retrieveconsolidateroutesandschedule-xapi-main">
        <http:listener config-ref="retrieveconsolidateroutesandschedule-xapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidateroutesandschedule-xapi-config" />
            </flow>
            
            
       <flow name="retrieveconsolidateroutesandschedule-xapi-console">
        <http:listener config-ref="retrieveconsolidateroutesandschedule-xapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveconsolidateroutesandschedule-xapi-config" />
       </flow>     
   
    <sub-flow name="retrieveconsolidateroutes-papi-subflow" doc:id="a16c134a-b86b-4f57-9763-d95cc030bee8" >
		<ee:transform doc:id="d2e625e3-29c3-49c7-a0b9-2da8292d5108">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.destinationLocation]]></ee:set-variable>
				<ee:set-variable variableName="departureLocation"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.departureLocation]]></ee:set-variable>
				<ee:set-variable variableName="transportType" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.transportType]]></ee:set-variable>
				<ee:set-variable variableName="transportcompanyName" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.transportcompanyName
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\routes:retrieveconsolidateroutesandschedule-xapi-config">
        <flow-ref doc:name="calling-retrieveconsolidateroutes-papi-subflow" doc:id="e2ecab39-214f-4ae5-93bc-e6d52193b3eb" name="retrieveconsolidateroutes-papi-subflow" />
		<logger level="INFO" message="request-recivedfrom-root" doc:name="request-recivedfrom-root papi-for transactionId"/>
        <flow-ref doc:name="calling-retriveconsolidaterouteSub_Flow" doc:id="d286874b-9264-42ed-a831-4b38804f3ab9" name="retriveconsolidaterouteSub_Flow"/>
    </flow>
    
    
    
    <sub-flow name="retrieveconsolidateschedule-papi-subflow" doc:id="03b31c28-fde3-4c80-bd45-2ea19a7b2bd5" >
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.transportType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.destinationLocation]]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.departureLocation]]></ee:set-variable>
				<ee:set-variable variableName="companyname" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.transportcompanyName]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\schedule:retrieveconsolidateroutesandschedule-xapi-config">
        <flow-ref doc:name="calling-retrieveconsolidateschedule-papi-subflow" doc:id="026beec5-b7a4-4627-9b52-a8428872967c" name="retrieveconsolidateschedule-papi-subflow" />
		<logger level="INFO" doc:name="request-recivedfrom-root-papi-for-transactionId" doc:id="5485555c-7506-41a2-b465-d09aeabc1049" message="request-recivedfrom-root-papi-for-transactionId"/>
		<flow-ref doc:name="calling-retriveconsolidateschedules-Sub_Flow" doc:id="8932fbbc-d35a-43f7-a5fd-a3f6b6f5e743" name="retriveconsolidateschedules-Sub_Flow"/>
    </flow>
</mule>
